<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}<title>Local Library</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}
            <ul class="sidebar-nav">
                <br>
                {% if user.is_authenticated %}
                <b>
                    <li>User: {{ user.get_username }}</li>
                </b>
                <br>
                <li><a href="{% url 'logout'%}?next={{request.path}}"><b>Logout</b></a></li>
                {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}"><b>Login</b></a></li>
                {% endif %}

                <br>
                <font size="3"><b>Make Your Move</b></font>
                <br>

                {% if user.get_username == current_player_name and not game.current_player2 %}

                {% for action in actions %}
                {% if current_player_coins >= action.coins_required %}

                <br>
                <li><a href="{% url 'actions'%}?action={{action}}&playerName={{current_player_name}}"><b>{{action}}</b></a>
                </li>

                {% endif %}
                {% endfor %}

                {% endif %}
                <li>

                    <br>
                    <br>
                <li><b>Last 4 moves:</b></li>
                <br>
                {% for event in actionhistory %}
                <p>{{event.player1}} - {{ event.name }}</p>
                {% endfor %}
                <br>

                {% for player in players %}
                {% if player.playerNumber == game.whoseTurn %}
                <font size="3"><b>{{ player.playerName }} - it's your turn</b></font>
                {% endif %}
                {% endfor %}

                {% if game.current_player2 %}
                <br>
                <p>{{current_player_name}} is {{ game.current_action }} {{game.current_player2 }}</p>
                {% endif %}

                {% if user.get_username == game.current_player2 %}

                <a href="{% url 'loseinfluence'%}?action=Lose Influence&playerName={{game.current_player2}}"><b>Lose
                    Influence</b></a>
                {% endif %}
            </ul>

            <!--<a href="{% url 'actions'%}?action={{action}}&playerName={{current_player_name}}"><b>{{action}}</b></a>-->
            <!--{% if game.redoMessage != None %}-->
            <!--<h1> {{ user.get_username }} -{{ game.redoMessage }}  </h1>-->
            <!--{% endif %}-->

            </form>

            {% endblock %}

        </div>
        <div class="col-sm-10 ">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>

</body>
</html>