{% extends "base_generic.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coup</title>
</head>
<body>

{% load static %}
<table class="table">
    <td>
{% for player in players %}
<tr>
    <td><strong> {{player.playerName}} has {{player.coins}} coins  </strong></td>
</tr>
{% for  card in player.hand.all %}
{% if card.status == 'U' or user.get_username == player.playerName%}
<td><img src="/static/images/{{card}}.jpg" height="350"></td>
{% else %}
<td><img src="/static/images/down.png" height="350"></td>
{% endif %}

{% endfor %}


{% endfor %}
    </tbody>
  </table>



<script>
    window.setTimeout(function () {
    location.reload();
}, 5000); // refresh/redirect after 5 seconds.

</script>

</body>
</html>
{% endblock %}

